@font-face {
    font-family: noto-sans;
    src: url('../fonts/NotoSansCJKtc-Regular.otf') format('opentype');
}
@font-face {
    font-family: noto-sans-bold;
    src: url('../fonts/NotoSansCJKtc-Bold.otf') format('opentype');
}
.jumbotron {
    background-image: url(../img/pdx.jpg);
    background-size: cover;
}
body {
    font-family: noto-sans, sans-serif;
    /*background-color: #F3FFBD;*/
}
.card-title {
    font-family: noto-sans-bold;
}
.card {
  color: black;
}
.modal {
  color: black;
}
#contact-list li{
  background: transparent;
}
#contact-logo {
  border-radius: 50%;
}
hr {
  border-color: white;
}
